<footer class="footer">
	<div class="container footer__container flex">
		{{ partial "footer_links.html" . }}
		<div class="footer__copyright">
			&copy; {{ now.Format "2006" }} {{  .Site.Params.copyright | default .Site.Title  }}.
			<span class="footer__copyright-credits">{{ T "footer_credits" | safeHTML }}{{- with .Site.Params.host.name }} and Hosted by {{ end }}{{- with .Site.Params.host.link }}</a>{{ end }}<a href="{{- with .Site.Params.host.link }}{{ . }}{{ end }}" rel="nofollow noopener" target="_blank\">{{- with .Site.Params.host.name }}{{ . }}</a>{{ end }}.</span>
		</div>
	</div>
</footer>